<h1>homework</h1>
<h3>pch 10 Network Devices</h3>
<p><span title="Quick scroll up">Overview</span></p>
<p><span title="Quick scroll up"><span>Network devices vary according to their purpose. In this module, we will discuss various devices, such as hubs, switches, routers, bridges, network adapters, and media. As we discuss the devices, you should pay attention to their uses, their benefits, and their limitations. We will also explore how to install a network adapter.</span></span></p>
<p><span title="Quick scroll up"><span>網絡設備根據其用途而有所不同。 在本模塊中，我們將討論各種設備，例如集線器，交換機，路由器，網橋，網絡適配器和媒體。 在討論設備時，您應注意其用途，優點和局限性。 我們還將探討如何安裝網絡適配器。</span></span></p>
<p><span title="Quick scroll up">Hub</span></p>
<p><span title="Quick scroll up"><span>Hubs are among the most simplistic networking devices and are used to connect multiple network devices and workstations to each other, thereby forming a network. Hubs are also known as multiport repeaters. A hub works by accepting a signal in one port and rebroadcasting that same signal out to all of its other ports. Standard hubs do not have any “intelligence” (ability to change in response to varying situations or requirements), so we often refer to them as “dumb hubs.” Hubs can be classified as either active or passive. An active hub repeats the signal it receives on all of its ports and amplifies that signal to full strength. Passive hubs only repeat the signal without adding any amplification. Hubs are an older technology that can be used to easily increase the number of ports available, but this can lead to excessive network errors and collisions. There are newer variants of hubs called smart hubs. Smart hubs are essentially active hubs with enhanced feature sets, such as the use of simple network management protocol (SNMP).</span></span></p>
<p><span title="Quick scroll up"><span>集線器是最簡單的網絡設備之一，用於將多個網絡設備和工作站相互連接，從而形成一個網絡。集線器也稱為多端口中繼器。集線器通過在一個端口中接收信號並將該信號重新廣播到其所有其他端口來工作。標準集線器沒有任何“智能”（能夠根據不同情況或要求進行更改的能力），因此我們通常將它們稱為“啞集線器”。集線器可以分為主動或被動兩種。活動集線器會在其所有端口上重複接收到的信號，並將該信號放大到最大強度。無源集線器僅重複信號而不增加任何放大。集線器是一種較舊的技術，可用於輕鬆增加可用端口的數量，但這會導致過多的網絡錯誤和衝突。集線器有較新的變體，稱為智能集線器。智能集線器實質上是具有增強功能集（例如，使用簡單網絡管理協議（SNMP））的活動集線器。</span></span></p>
<p id="N1069D" lang="">Three basic types of Ethernet hubs are as follows:</p>
<ul lang="">
<li lang="">Passive hub – repeats signal with no amplification</li>
<li lang="">Active hub – repeats signal with amplification</li>
<li lang="">Smart hub – active hub with enhanced features (ex: SNMP)</li>
<li lang="">
<p>以太網集線器的三種基本類型如下：</p>
<p>無源集線器–重複信號而不放大<br/>有源集線器–重複放大信號<br/>智能集線器–具有增強功能的活動集線器（例如：SNMP）</p>
</li>
</ul>
<p><span>Hubs have no inherent security designed within them because they simply rebroadcast all the information received from one port to every other port. Essentially, hubs rely on the connected workstations to only “listen” to the information on their port if that information is specifically addressed to that workstation. When the information is not addressed to it, the workstation is supposed to simply ignore the data. But a network card can be placed into “promiscuous” mode, where it will listen to all traffic, regardless of which workstation that traffic is addressed to. This makes hubs very insecure.</span></p>
<p><span>集線器內部沒有設計固有的安全性，因為它們只是將從一個端口接收的所有信息重新廣播到另一個端口。 本質上，集線器僅依賴於連接的工作站來“偵聽”其端口上的信息（如果該信息專門針對該工作站）。 當信息沒有發送給它時，工作站應該只是忽略數據。 但是，可以將網卡置於“混雜”模式，在該模式下，網卡將偵聽所有流量，而不管該流量指向哪個工作站。 這使集線器非常不安全。</span></p>
<p id="N106AF" lang="">Another drawback of hubs is that they have to share bandwidth, as all devices operate in one collision domain. Therefore, if you have a 100 Mbps hub, but connect four devices to that hub, your devices will effectively be operating at 25 Mbps each. This can lead to huge slowdowns in your network traffic when using a 16-, 24-, or 48-port hub.</p>
<p>集線器的另一個缺點是它們必須共享帶寬，因為所有設備都在一個衝突域中運行。 因此，如果您有一個100 Mbps的集線器，但將四個設備連接到該集線器，則每個設備將有效地以25 Mbps的速度運行。 使用16端口，24端口或48端口集線器時，這可能會導致網絡流量大幅下降。</p>
<p><img height="355" src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH10/webcontent/PCH10/image1.jpeg" width="483"/></p>
<p><span title="Quick scroll up">Bridges</span></p>
<p><span title="Quick scroll up"><span>Because hubs operate with all devices acting in a single collision domain, a network device that could break up that collision domain into smaller units is required to help the network operate more efficiently. For example, if a hub is connected to another hub, they both operate under a single </span><a aria-describedby="N106CD" class="extra" id=""></a>collision domain<span><span> </span>. A bridge is used to connect two hubs together, but still keep the hubs’ collision domains separate. This interconnection of multiple network segments together allows networks to scale into large networks without significantly decreasing the performance of that network. Bridges are smarter than hubs; in fact, they actually analyze the source<span> </span></span><a aria-describedby="N106D6" class="extra" id=""></a>media access control (MAC) addresses<span><span> </span>in the frames entering the bridge and populate an internal MAC table based on those addresses. Future routing decisions are based upon those destination MAC addresses. This intelligent forwarding based on the destination MAC address in the frame allows for a decrease in network traffic by only forwarding information to the root hub associated with the network device. Network switches, which we will discuss, are the evolution of hubs and bridges.</span></span></p>
<p><span title="Quick scroll up"><span>因為集線器與所有在單個衝突域中起作用的設備一起運行，所以需要一個可以將該衝突域分解為較小單元的網絡設備，以幫助網絡更高效地運行。例如，如果一個集線器連接到另一個集線器，則它們都在單個衝突域下運行。橋用於將兩個集線器連接在一起，但仍將集線器的衝突域分開。多個網段的這種互連在一起使網絡可以擴展為大型網絡，而不會顯著降低該網絡的性能。橋比集線器更智能；實際上，他們實際上是分析進入網橋的幀中的源媒體訪問控制（MAC）地址，並根據這些地址填充內部MAC表。未來的路由決策將基於那些目標MAC地址。通過僅將信息轉發到與網絡設備關聯的根集線器，基於幀中目標MAC地址的智能轉發可減少網絡流量。我們將討論的網絡交換機是集線器和網橋的演進。</span></span></p>
<p><span title="Quick scroll up">Switches</span></p>
<p><span title="Quick scroll up"><span>Switches are used to connect multiple network segments together, whether they connect from switch to switch, or switch to workstation. Each port on a switch acts as its own collision domain. A switch is an evolution from a hub and bridge. Essentially, each port on a switch operates as if it were a hub with a bridge connecting the ports of the hub to the workstation, thereby reducing the chance of a collision on the network to zero.</span></span></p>
<p><span title="Quick scroll up"><span>交換機用於將多個網段連接在一起，無論它們是從交換機到交換機還是從工作站到工作站。 交換機上的每個端口都充當其自己的衝突域。 交換機是集線器和網橋的演進。 本質上，交換機上的每個端口都好像是集線器一樣工作，並具有將集線器的端口連接到工作站的網橋，從而將網絡衝突的可能性降低到零。</span></span></p>
<p><span title="Quick scroll up"><span>Switches are intelligent devices that make forwarding decisions based upon the MAC addresses they learn and place in their MAC tables. A switch analyzes the source MAC addresses in frames as they enter the switch, and then populates the switch’s internal MAC table with the addresses to match them with the switch ports. This allows the switch to forward the frame only to the correct device on a single switch port, thereby increasing security and network speed.</span></span></p>
<p><span title="Quick scroll up"><span>交換機是智能設備，它們根據其學習到的MAC地址並放置在其MAC表中來做出轉發決策。 交換機在輸入源MAC地址時會分析它們進入交換機的幀，然後用地址填充交換機的內部MAC表，以使其與交換機端口匹配。 這允許交換機僅將幀轉發到單個交換機端口上的正確設備，從而提高安全性和網絡速度。</span></span></p>
<p id="N106EE" lang="">If a switch receives a frame but does not have the destination MAC address in its forwarding table, it will flood the frame to all ports except the source to solicit the location of the destination MAC address. Switches break up collision domains but create<span> </span><a aria-describedby="N106F2" class="extra" id=""></a>broadcast domains<span> </span>.</p>
<p lang="">如果交換機接收到幀，但在其轉發表中沒有目標MAC地址，則它將將該幀泛洪到除源之外的所有端口上，以請求目標MAC地址的位置。 交換器分解衝突域，但創建廣播域。</p>
<p lang=""><span>Security is increased because only the device to which the information is addressed can receive a copy, regardless of whether the card is in “promiscuous” mode. This is similar in operation to an old-fashioned telephone operator switchboard. If the information isn’t addressed to your port, your port won’t receive the information. Also, because each port is in its own collision domain, the network speed is increased. Regardless of how many devices are on the network, each switch port has full-speed operations, so for a 100 Mbps switch, each device operates at 100 Mbps.</span></p>
<p lang=""><span>安全性提高了，因為無論信息卡是否處於“混雜”模式，只有信息所針對的設備才能收到副本。 這在操作上類似於老式的電話接線員總機。 如果信息未發送到您的端口，則您的端口將不會收到該信息。 另外，由於每個端口都在其自己的衝突域中，因此網絡速度得以提高。 無論網絡上有多少設備，每個交換機端口都可以全速運行，因此對於100 Mbps交換機，每個設備都以100 Mbps的速度運行。</span></p>
<p lang=""><span><img src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH10/webcontent/PCH10/image2.png"/></span></p>
<p><span title="Quick scroll up">Routers</span></p>
<p><span title="Quick scroll up"><span>Routers move data packets (layer 3), as opposed to switches (layer 2), which move frames. Routers separate network segments based on IP addressing and will only forward packets out of the segment when configured to do so. This design breaks up broadcast domains created by switches. It is up to the network professional to configure the router to connect different networks together and perform intelligent routing decisions. A router is most closely associated with a computer in that it has a processor and a sophisticated OS. The router compares the IP address of the source and destination of the packet and forwards traffic to/from a network based on this logical address (IPv4 and IPv6 addresses, for example). Routers are typically feature-rich devices and support a wide range of interface types, including unshielded twisted pair, fiber optic, and coaxial cable connections. Like a switch, each port on a router is a separate collision domain. Using access control lists, routers have the ability to block access to networks based on ports or addresses. This blocking adds to the network’s security.</span></span></p>
<p><span title="Quick scroll up"><span>路由器移動數據包（第3層），而交換機移動第2層（幀）。路由器根據IP地址將網段分開，並且僅在配置時將數據包轉發出網段。這種設計可以分解由交換機創建的廣播域。由網絡專業人員決定將路由器配置為將不同的網絡連接在一起並執行智能路由決策。路由器與計算機的關係最為密切，因為它具有處理器和完善的操作系統。路由器比較數據包源和目標的IP地址，並基於此邏輯地址（例如，IPv4和IPv6地址）將流量轉發到網絡或從網絡轉發流量。路由器通常是功能豐富的設備，並支持多種接口類型，包括非屏蔽雙絞線，光纖和同軸電纜連接。像交換機一樣，路由器上的每個端口都是一個單獨的衝突域。使用訪問控制列表，路由器可以根據端口或地址阻止對網絡的訪問。這種阻止會增加網絡的安全性。</span></span></p>
<p><span title="Quick scroll up"><span><img src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH10/webcontent/PCH10/image3.png"/></span></span></p>
<p><span title="Quick scroll up">Network Adapter</span></p>
<p><span title="Quick scroll up"><span>The network adapter is used to connect a workstation to the network through the use of media. The network adapter can be built in to the motherboard of the device in several ways:</span></span></p>
<p><span title="Quick scroll up"><span>網絡適配器用於通過使用介質將工作站連接到網絡。 可以通過幾種方式將網絡適配器內置到設備的主板中：</span></span></p>
<ul lang="">
<li lang="">Using an integrated port cluster.</li>
<li lang="">Added to a workstation through the use of an internal expansion card (PCIe, PCI, or mini-PCIe).</li>
<li lang="">Through the use of an externally connected card, such as USB or PCMCIA.</li>
<li lang="">使用集成端口集群。<br/>通過使用內部擴展卡（PCIe，PCI或mini-PCIe）添加到工作站。<br/>通過使用外部連接的卡，例如USB或PCMCIA。</li>
</ul>
<p><span>There are two main types of network adapters: wired and wireless. The wired cards support various cable types, such as unshielded twisted pair (UTP), fiber optic, and coaxial cabling. These various cable types are called media.</span></p>
<p><span>網絡適配器有兩種主要類型：有線和無線。 有線卡支持各種電纜類型，例如非屏蔽雙絞線（UTP），光纖和同軸電纜。 這些各種電纜類型稱為媒體。</span></p>
<p><span title="Quick scroll up">Media</span></p>
<p id="N1074B" lang="">Media is the term used to categorize the physical connection between two device ports, such as between a computer and a switch. Media is made up of copper cable, fiber-optic cable, or even radio frequency waves (as used in Wi-Fi networks). Media varies greatly in cost, from free for radio waves, to cheap for unshielded twisted pair (copper cable), to expensive for fiber-optic cabling. The type of media determines the bandwidth speed, capacity, and distance limitations for a particular network. We will discuss media in more depth in a future module.</p>
<p>媒體是用於對兩個設備端口之間（例如計算機和交換機之間）的物理連接進行分類的術語。 介質由銅纜，光纜甚至射頻波（用於Wi-Fi網絡）組成。 介質的成本差異很大，從無線電波的免費成本到非屏蔽雙絞線（銅纜）的價格便宜，再到光纖電纜的價格昂貴。 媒體的類型確定特定網絡的帶寬速度，容量和距離限制。 我們將在以後的模塊中更深入地討論媒體。</p>
<p><img src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH10/webcontent/PCH10/image4.png"/></p>
<p></p><h2>pch 9 Network Defined by Topology</h2>
<p></p>
<p><span title="Quick scroll up"><span>overview</span></span></p>
<p><span title="Quick scroll up"><span></span></span></p>
<p><span title="Quick scroll up"><span>In this module, we are going to cover the various types of networks, including local area networks</span></span></p>
<p><span>在本模塊中，我們將介紹各種類型的網絡，包括局域網</span><br/><br/><span> wide area networks, personal area networks,</span><span>and metropolitan area networks. <br/> 廣域網，個人區域網和城域網。<br/><br/> next,we will cover the various network relationships, such as client/server and peer-to-peer,<br/> and focus on the types of resources our networks use.<br/> 接下來，我們將介紹各種網絡關係，例如客戶端/服務器和對等網絡，並集中討論網絡使用的資源類型。<br/> <br/>Finally, we will talk about the topologies of our networks, such as the bus, the ring, <br/>the star, the full mesh, and hybrid network topologies.<br/>最後，我們將討論網絡的拓撲，例如總線，環形，星形，全網格和混合網絡拓撲。<br/></span> <span></span></p>
<p><span></span></p>
<p><span title="Quick scroll up">Network Defined By Geography</span></p>
<p><span title="Quick scroll up"></span></p>
<p><span title="Quick scroll up"><span>Networks are defined by the geography they cover.</span></span></p>
<p><span title="Quick scroll up"><span>網絡由其所覆蓋的地理位置定義。</span></span></p>
<p><span title="Quick scroll up"><span>We start with the area around a single person, with this area being termed the personal area network (PAN).</span></span></p>
<p><span title="Quick scroll up"><span>我們從一個人周圍的區域開始，將該區域稱為個人區域網絡（PAN）。</span></span></p>
<p><span title="Quick scroll up"><span> Next, we expand outward to the local area network (LAN), which can contain an entire office floor or building.</span></span></p>
<p><span title="Quick scroll up"><span>接下來，我們向外擴展到局域網（LAN），該局域網可以包含整個辦公樓層或建築物。</span></span></p>
<p><span title="Quick scroll up"><span>Moving outward again, we have the metropolitan area network, which covers the area across the city by connecting multiple LANs together. </span></span></p>
<p><span title="Quick scroll up"><span>再次向外移動，我們有了城域網，該城域網通過將多個LAN連接在一起而覆蓋了整個城市。</span></span></p>
<p><span title="Quick scroll up"><span> Finally, we have the wide area network (WAN). This is the largest network we define by geography and it can go across the country or even across the world. </span></span></p>
<p><span title="Quick scroll up"><span>最後，我們有了廣域網（WAN）。 這是我們按地理位置定義的最大網絡，它可以遍及全國，甚至遍及全球。</span></span></p>
<p><span title="Quick scroll up"><span> A great example of a WAN is the Internet, since it connects many networks together and stretches across the globe.</span></span></p>
<p><span title="Quick scroll up"><span>WAN就是一個很好的例子，因為Internet將許多網絡連接在一起並遍及全球。</span></span></p>
<p><span title="Quick scroll up"><span><img alt="" height="428" src="/images/image1.png" width="578"/></span></span></p>
<p><span title="Quick scroll up">Perso</span>nal Area Network</p>
<p><span>A PAN has a very small range limited to just a few meters. </span></p>
<p><span>WAN就是一個很好的例子，因為Internet將許多網絡連接在一起並遍及全球。</span></p>
<p><span>If you stretch your hands out at your sides and spin around in a circle, this is the physical range of most PANs. </span></p>
<p><span>如果您將雙手伸向兩側並轉一圈，則這是大多數PAN的物理範圍。</span></p>
<p><span> Bluetooth is one of the main things we use to create a PAN, although USB and infrared can also be used for these networks.</span></p>
<p><span>藍牙是我們用於創建PAN的主要內容之一，儘管USB和紅外也可以用於這些網絡。</span></p>
<p><span>Bluetooth has a range between one meter and 100 meters depending on which class of Bluetooth you are using, </span></p>
<p><span>藍牙的範圍在1米至100米之間，具體取決於您所使用的藍牙類別，</span></p>
<p><span>but most common Bluetooth devices are class two devices limited to 10 meters. </span></p>
<p><span>但最常見的藍牙設備是限於10米的二級設備。</span></p>
<p><span>Some good examples of PANs are the connection between a USB hard drive and a laptop,</span></p>
<p><span>PAN的一些很好的例子是USB硬盤驅動器和筆記本電腦之間的連接，</span></p>
<p>or a Bluetooth cellphone connecting to your car stereo system wirelessly.</p>
<div actguid="d87f2e940a0001dc0c2b3aff3b198797" class="asx" inlineparams="inlineClient=%2Fsuperactivity%2Fassessment2%2FInlineAssessmentClient.swf&amp;activityMode=delivery&amp;activityContextGUID=d87f2e940a0001dc0c2b3aff3b198797&amp;userGUID=40923211%40gm.nfu.edu.tw&amp;activityService=%2Fjcourse%2Fa2%2Frest&amp;webContentPath=%2Frepository%2Fwebcontent%2Fd826575d0a0001dc3e9f244fa018c560%2F&amp;logService=%2Flog%2Fserver&amp;">
<div class="activitywrap purpose learnbydoing flash" id="dpch09_lbd02">
<div class="activityhead">
<div class="purposeType purposelearnbydoing" title=""><span class="scnReader">或藍牙手機無線連接到您的汽車立體聲系統。<br/></span></div>
<div class="purposeType purposelearnbydoing" title=""></div>
<div class="purposeType purposelearnbydoing" title=""></div>
<div class="purposeType purposelearnbydoing" title=""><br/><span title="Quick scroll up">Local </span>Area Network</div>
<div class="purposeType purposelearnbydoing" title=""><span>The next type of network defined by geography is the LAN, </span></div>
<div class="purposeType purposelearnbydoing" title=""></div>
<div class="purposeType purposelearnbydoing" title=""><span>地理定義的下一種網絡類型是</span><span>LAN</span></div>
<div class="purposeType purposelearnbydoing" title=""></div>
<div class="purposeType purposelearnbydoing" title=""><span>which stands for local area network. </span></div>
<div class="purposeType purposelearnbydoing" title=""><span>代表局域網。</span></div>
<div class="purposeType purposelearnbydoing" title=""><span>The local area network is comprised of several devices that allow computers to connect to each other within a small geographic area.</span></div>
<div class="purposeType purposelearnbydoing" title=""></div>
<div class="purposeType purposelearnbydoing" title=""><span>局域網由幾個設備組成，這些設備使計算機可以在一個較小的地理區域內相互連接。</span></div>
<div class="purposeType purposelearnbydoing" title=""></div>
<div class="purposeType purposelearnbydoing" title=""><span>A LAN is, at its most basic,</span></div>
<div class="purposeType purposelearnbydoing" title=""></div>
<div class="purposeType purposelearnbydoing" title=""><span>局域網是最基本的</span></div>
<div class="purposeType purposelearnbydoing" title=""></div>
<div class="purposeType purposelearnbydoing" title=""><span>a connection of several workstations together using a hub, switch, or wireless access point.</span></div>
<div class="purposeType purposelearnbydoing" title=""></div>
<div class="purposeType purposelearnbydoing" title=""><span> </span><span>使用集線器將多個工作站連接在一起，交換機或無線接入點。</span></div>
<div class="purposeType purposelearnbydoing" title=""></div>
<div class="purposeType purposelearnbydoing" title=""><span>LANs have a limited distance associated with them, with each network segment usually limited to 100 meters or less.</span></div>
<div class="purposeType purposelearnbydoing" title=""></div>
<div class="purposeType purposelearnbydoing" title=""><span>局域網的距離有限，每個網段通常限制在100米或更短。</span></div>
<div class="purposeType purposelearnbydoing" title=""></div>
<div class="purposeType purposelearnbydoing" title=""><span>Generally, a LAN is used to network the floor of an office, or possibly the entire office building in smaller networks.</span><span> </span></div>
<div class="purposeType purposelearnbydoing" title=""></div>
<div class="purposeType purposelearnbydoing" title=""><span>通常，LAN用於將辦公室地板或較小網絡中的整個辦公樓聯網。</span></div>
<div class="purposeType purposelearnbydoing" title=""></div>
<div class="purposeType purposelearnbydoing" title=""><span> LANs are generally connected in either a wired or wireless manner.</span></div>
<div class="purposeType purposelearnbydoing" title=""></div>
<div class="purposeType purposelearnbydoing" title=""><span> </span><span>LAN</span><span>通常以有線或無線方式連接。</span><span> </span></div>
<div class="purposeType purposelearnbydoing" title=""></div>
<div class="purposeType purposelearnbydoing" title=""><span>If wired, they are connected using unshielded twisted pair cable using the Ethernet (IEEE 802.3) standard;</span></div>
<div class="purposeType purposelearnbydoing" title=""></div>
<div class="purposeType purposelearnbydoing" title=""><span>如果已連接，則使用符合以太網（IEEE 802.3）標準的非屏蔽雙絞線電纜進行連接；</span></div>
<div class="purposeType purposelearnbydoing" title=""></div>
<div class="purposeType purposelearnbydoing" title=""><span>if wireless, they are connected using Wi-Fi radio signal (IEEE 802.11) standards.</span></div>
<div class="purposeType purposelearnbydoing" title=""></div>
<div class="purposeType purposelearnbydoing" title=""><span>如果為無線，則它們使用Wi-Fi無線電信號（IEEE 802.11）標准進行連接。</span></div>
<div class="purposeType purposelearnbydoing" title=""></div>
<div class="purposeType purposelearnbydoing" style="text-align: center;" title=""><span><img alt="" height="204" src="/images/image2.png" width="198"/></span></div>
<div class="purposeType purposelearnbydoing" style="text-align: center;" title=""><span><img height="353" src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH09/webcontent/PCH09/image3.jpeg" width="471"/></span></div>
<div class="purposeType purposelearnbydoing" style="text-align: center;" title="">
<p style="text-align: left;"><span title="Quick scroll up">Metropolitan Area Networks</span></p>
<p style="text-align: left;"><span title="Quick scroll up"><span>Another way we can geographically define our networks is as a MAN.</span></span></p>
<p style="text-align: left;"><span title="Quick scroll up"><span>我們可以在地理上定義網絡的另一種方法是將其作為MAN。</span></span></p>
<p style="text-align: left;"><span title="Quick scroll up"><span>A metropolitan area network connects scattered locations across the city or county.</span></span></p>
<p style="text-align: left;"><span title="Quick scroll up"><span>城域網連接整個城市或縣的分散位置。</span></span></p>
<p style="text-align: left;"><span title="Quick scroll up"><span> This covers a larger geographical area than a local area network, but also a much smaller area than a wide-area network.</span></span></p>
<p style="text-align: left;"><span title="Quick scroll up"><span>這比局域網覆蓋更大的地理區域，但是比廣域網覆蓋的區域小得多。</span></span><span title="Quick scroll up"><span><img height="443" src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH09/webcontent/PCH09/image13.jpeg" width="543"/></span></span></p>
</div>
<div class="purposeType purposelearnbydoing" title="">
<p><span title="Quick scroll up">Wide Area Networks</span></p>
<p><span title="Quick scroll up"><span>The WAN is used to connect network components that are geographically separated over vast distances together.</span></span></p>
<p><span title="Quick scroll up"><span>WAN用於將地理位置遙遠的網絡組件連接在一起。</span></span></p>
<p><span title="Quick scroll up"><span>An example of a WAN would be to connect an office in Los Angeles to another corporate office in New York. </span></span></p>
<p><span title="Quick scroll up"><span>WAN的一個示例是將洛杉磯的辦公室連接到紐約的另一公司辦公室。</span></span></p>
<p><span title="Quick scroll up"><span>This can be done using virtual private networks (VPNs) over the Internet or using dedicated leased lines that would physically connect the city pairs together. </span></span></p>
<p><span title="Quick scroll up"><span>可以使用Internet上的虛擬專用網絡（VPN）或將城市對實際連接在一起的專用租用線路來完成。</span></span></p>
<p><span title="Quick scroll up"><span>Regardless of the method of connection, </span></span></p>
<p><span title="Quick scroll up"><span>無論採用哪種連接方式，</span></span></p>
<p><span title="Quick scroll up"><span>once the two local area networks from Los Angeles and New York are connected,</span></span></p>
<p><span title="Quick scroll up"><span>一旦將洛杉磯和紐約的兩個局域網連接起來，</span></span></p>
<p id="N10787" lang="">they become part of the larger wide area network topology.</p>
它們成為更大的廣域網拓撲的一部分。</div>
<div class="purposeType purposelearnbydoing" title=""><img src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH09/webcontent/PCH09/image14.jpeg"/></div>
<div class="purposeType purposelearnbydoing" title=""><span>In addition to defining networks by geography or how much area they cover, you can also define them by the way they allocate their resources. The first method is what we call a client/server model. In a client/server model, a dedicated server or servers provide(s) access to files, scanners, printers, and other resources to client workstations. This simplifies the administration and backup burden, making the network centrally administered, and can provide better security because resources can be allocated according to job function, network privilege, or department, since all of the resources are located on a few key servers. The second way of sharing resources on the network is called the peer-to-peer model. In the peer-to-peer model, all workstations are considered equals: each computer or workstation shares its resources directly with the other workstations. There is no central administration. For example, if I shared my printer with my coworkers, then each time my coworker printed a document, it would be sent to the printer through my workstation. The drawback to this is that if my computer is turned off, my coworkers lose access to my resources, such as my printer. The administration and backup under the peer-to-peer model is much more difficult, since resources are located on numerous workstations across the network, making administrative tasks burdensome. Furthermore, there is no real way of securing network resources when allowing access between nodes or workstations. The benefit of peer-to-peer resource sharing is the low cost of entry, since no dedicated servers or specialized operating systems are required to share the resources.</span></div>
<div class="purposeType purposelearnbydoing" title=""></div>
<div class="purposeType purposelearnbydoing" title=""><span>除了按地理位置或網絡覆蓋範圍定義網絡外，您還可以通過分配資源的方式來定義網絡。第一種方法就是我們所說的客戶/服務器模型。在客戶端/服務器模型中，一個或多個專用服務器向客戶端工作站提供對文件，掃描儀，打印機和其他資源的訪問。由於所有資源都位於幾個關鍵服務器上，因此可以根據作業功能，網絡特權或部門分配資源，這簡化了管理和備份負擔，使網絡可以集中管理，並且可以提供更好的安全性。在網絡上共享資源的第二種方法稱為對等模型。在對等模型中，所有工作站都被認為是相等的：每台計算機或工作站直接與其他工作站共享其資源。沒有中央管理。例如，如果我與同事共享打印機，那麼每次同事打印文檔時，該文檔都會通過工作站發送到打印機。這樣做的缺點是，如果關閉計算機，我的同事將無法訪問我的資源，例如打印機。對等模型下的管理和備份要困難得多，因為資源位於網絡上的眾多工作站上，使管理任務變得很繁重。此外，當允許節點或工作站之間進行訪問時，沒有真正的方法來保護網絡資源。對等資源共享的好處是入門成本低，因為不需要專用服務器或專用操作系統來共享資源。</span></div>
<div class="purposeType purposelearnbydoing" title=""></div>
<div class="purposeType purposelearnbydoing" title=""><span>Besides geography and relationships, we can also define our networks by their topology. When we define our networks by their topology, we consider both the physical and logical topology, and both of these topologies do not have to match for a single network. The physical topology determines how the devices are physically connected, while the logical topology determines how the traffic flows across the network in a logical manner. There are many types of topologies, including bus, ring, star, full mesh, and hybrid. Currently, the most widely used model is a physical star and a logical bus topology using Ethernet.</span></div>
<div class="purposeType purposelearnbydoing" title=""></div>
<div class="purposeType purposelearnbydoing" title=""><span>除了地理和關係之外，我們還可以通過其拓撲定義網絡。 當我們通過拓撲定義網絡時，我們會同時考慮物理和邏輯拓撲，並且這兩種拓撲都不必針對單個網絡進行匹配。 物理拓撲決定了設備的物理連接方式，而邏輯拓撲決定了流量如何以邏輯方式流經網絡。 拓撲類型很多，包括總線，環形，星形，全網格和混合拓撲。 當前，使用最廣泛的模型是使用以太網的物理星形和邏輯總線拓撲。</span></div>
<div class="purposeType purposelearnbydoing" title=""></div>
</div>
</div>
</div>
<p><span title="Quick scroll up">B</span>us Topology</p>
<div actguid="d87f2e940a0001dc0c2b3aff3b198797" class="asx" inlineparams="inlineClient=%2Fsuperactivity%2Fassessment2%2FInlineAssessmentClient.swf&amp;activityMode=delivery&amp;activityContextGUID=d87f2e940a0001dc0c2b3aff3b198797&amp;userGUID=40923211%40gm.nfu.edu.tw&amp;activityService=%2Fjcourse%2Fa2%2Frest&amp;webContentPath=%2Frepository%2Fwebcontent%2Fd826575d0a0001dc3e9f244fa018c560%2F&amp;logService=%2Flog%2Fserver&amp;">
<div class="activitywrap purpose learnbydoing flash" id="dpch09_lbd02">
<div class="activityhead">
<div class="purposeType purposelearnbydoing" title=""><span>Bus topology typically uses a single cable running through the area that needs network connectivity, with each device that wishes to connect to the network tapping into that cable. The devices tap into the cable using either a T connector (see diagram below) or a vampire tap. A vampire tap is actually a type of connection where a metal tooth bites into the cable, making a physical connection with the copper wire running inside the cable. While bus topology is an older technology and not commonly used anymore, physically, it can still be found as a logical implementation in some instances.</span></div>
<div class="purposeType purposelearnbydoing" title=""></div>
<div class="purposeType purposelearnbydoing" title=""><span>總線拓撲通常使用一根電纜穿過需要網絡連接的區域，每個希望連接到網絡的設備都通過該電纜連接。 設備使用T型連接器（請參見下圖）或吸血鬼抽頭插入電纜。 吸血鬼抽頭實際上是一種連接，其中金屬齒咬入電纜，與在電纜內部延伸的銅線進行物理連接。 儘管總線拓撲是一種較舊的技術，在物理上已不再使用，但在某些情況下仍可以將其作為邏輯實現。</span></div>
<div class="purposeType purposelearnbydoing" title=""></div>
<div class="purposeType purposelearnbydoing" title=""></div>
<div class="purposeType purposelearnbydoing" title=""><span><img alt="image15.png (342×197)" src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH09/webcontent/PCH09/image15.png"/></span></div>
</div>
</div>
</div>
<p><span title="Quick scroll up">Ring Topology</span></p>
<p><span title="Quick scroll up"><span>Ring topology typically uses a cable running in a circular loop, with each device connected to the ring. Data travels in a single direction around the ring. The most common use of ring topology is with backbone fiber networks. Fiber distributed data interface (FDDI) is a set of standards for transmitting data on fiber-optic lines in a LAN. FDDI commonly uses two counter-rotating rings to provide more redundancy. Each device waits its turn to communicate on the ring by passing a token around the ring. Therefore, ring topology networks are also called token ring networks. As there are two counter-rotating rings, FDDI tends to provide a little more redundancy than a standard bus topology. However, both bus and ring topologies were quickly replaced in most LANs by the star topology.</span></span></p>
<p><span title="Quick scroll up"><span>環形拓撲通常使用以環形迴路運行的電纜，每個設備都連接到環形。 數據在環上沿單個方向傳播。 環形拓撲最常見的用途是與骨幹光纖網絡一起使用。 光纖分佈式數據接口（FDDI）是用於在LAN中的光纖線上傳輸數據的一組標準。 FDDI通常使用兩個反向旋轉的環來提供更多的冗餘。 每個設備都通過在令牌環周圍傳遞令牌來等待其在令牌環上進行通信。 因此，環形拓撲網絡也稱為令牌環網絡。 由於有兩個反向旋轉的環，因此FDDI傾向於提供比標準總線拓撲更多的冗餘。 但是，在大多數LAN中，總線和環形拓撲都很快被星形拓撲取代。</span></span></p>
<p><span title="Quick scroll up"><span><img alt="image16.png (345×282)" src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH09/webcontent/PCH09/image16.png"/></span></span></p>
<p><span title="Quick scroll up">Full Mesh Topology</span></p>
<p><span title="Quick scroll up"><span>To deal with the issue of redundancy, the full mesh topology was created. This topology is by far the most redundant, and expensive, topology because every node or workstation in the network is directly connected to every other node. While this provides optimal routing, it is very expensive to maintain and operate. The number of connections required for any number of nodes can be calculated by using the formula, x = n(n-1)/2. For example, if you have six nodes, that would require 15 cables to connect them all to each other. If you had 50 nodes, that would require 1225 separate connections. You can certainly see why this topology is almost never used for local area networks, as the number of machines would drive the number of connections up too quickly.</span></span></p>
<p><span title="Quick scroll up"><span>為了解決冗餘問題，創建了全網狀拓撲。 到目前為止，此拓撲是最冗餘，最昂貴的拓撲，因為網絡中的每個節點或工作站都直接連接到每個其他節點。 儘管這提供了最佳的路由，但維護和操作非常昂貴。 可以使用公式x = n（n-1）/ 2計算任意數量的節點所需的連接數。 例如，如果您有六個節點，則需要15條電纜才能將它們彼此連接。 如果您有50個節點，則需要1225個單獨的連接。 您當然可以看到為什麼幾乎不將該拓撲用於局域網的原因，因為計算機數量過多會導致連接數量增加過快。</span></span></p>
<p><span title="Quick scroll up"><span><img alt="image18.png (325×366)" src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH09/webcontent/PCH09/image18.png"/></span></span></p>
<p><span title="Quick scroll up">Partial Mesh Topology</span></p>
<p><span title="Quick scroll up"><span>To solve the cost issues created by the full mesh topology, engineers created the partial mesh topology. Partial mesh topology is really a hybrid full mesh topology. It provides redundancy and optimal routing between some sites, while avoiding the expense of connecting every single site. In order to create this successfully, though, you must consider the network traffic patterns to design it efficiently.</span></span></p>
<p><span>為了解決由全網格拓撲創建的成本問題，工程師創建了部分網格拓撲。 部分網狀拓撲實際上是混合全網狀拓撲。 它提供了某些站點之間的冗餘和最佳路由，同時避免了連接每個站點的開銷。 但是，為了成功創建它，必須考慮網絡流量模式以進行有效設計。</span></p>
<p><span>If we have two sites which are very busy, such as Los Angeles, CA and New York, NY, we may want to provide them with additional redundancy by connecting them to a third city, such as Washington, DC. But a slower site, maybe somewhere like Greenville, SC, might only need to be connected to one of those three sites and can then use that as a jumping off point to connect to the other two sites. This works very similar to our air travel system, where we connect the large cities together directly, and we avoid direct flights to small cities. For example, if someone wanted to fly from Greenville to Los Angeles they would first take a flight from Greenville to Washington DC, then a direct flight on a larger plane to Los Angeles from Washington.</span></p>
<p><span>如果我們有兩個非常繁忙的站點，例如加利福尼亞的洛杉磯和紐約州的紐約，我們可能希望通過將它們連接到第三個城市（例如華盛頓特區）為他們提供更多的冗餘。 但是，速度較慢的站點（例如，南卡羅來納州格林維爾）可能僅需要連接到這三個站點之一，然後可以將該站點用作連接其他兩個站點的起點。 這與我們的航空旅行系統非常相似，在航空旅行系統中，我們將大城市直接連接在一起，並且避免了直接飛往小城市的航班。 例如，如果有人想從格林維爾飛往洛杉磯，他們會先從格林維爾飛往華盛頓特區，然後再乘較大的飛機直接從華盛頓飛往洛杉磯。</span></p>
<p><span>The same concept applies in a partial mesh topology. Partial mesh adds additional resources (connections) between the biggest and busiest sites, while still providing the smaller sites with minimal service to one of the large hub sites. The smaller site uses the large hub as a jumping off point to the rest of the network.</span></p>
<p><span>相同的概念適用於部分網格拓撲。 部分網狀網絡在最大和最繁忙的站點之間增加了額外的資源（連接），同時仍為大型樞紐站點之一提供較小的站點，但服務卻最少。 較小的站點將大型集線器用作連接到網絡其餘部分的起點。</span></p>
<p><span></span></p>
<div actguid="d87f2e940a0001dc0c2b3aff3b198797" class="asx" inlineparams="inlineClient=%2Fsuperactivity%2Fassessment2%2FInlineAssessmentClient.swf&amp;activityMode=delivery&amp;activityContextGUID=d87f2e940a0001dc0c2b3aff3b198797&amp;userGUID=40923211%40gm.nfu.edu.tw&amp;activityService=%2Fjcourse%2Fa2%2Frest&amp;webContentPath=%2Frepository%2Fwebcontent%2Fd826575d0a0001dc3e9f244fa018c560%2F&amp;logService=%2Flog%2Fserver&amp;">
<div class="activitywrap purpose learnbydoing flash" id="dpch09_lbd02">
<div class="activityhead">
<div class="purposeType purposelearnbydoing" title=""><img alt="image19.png (400×303)" src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH09/webcontent/PCH09/image19.png"/></div>
<div class="purposeType purposelearnbydoing" title=""><img alt="image20.png (508×249)" src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH09/webcontent/PCH09/image20.png"/></div>
<div class="purposeType purposelearnbydoing" title=""></div>
<div class="purposeType purposelearnbydoing" title=""></div>
<div class="purposeType purposelearnbydoing" title=""></div>
</div>
</div>
</div>